In [ ]:
def angleBinner(compassList):
    '''
    Creates list of angles dependent on 
    how many compass points you give the function
    '''
    
#     how many compass points were given?
    bins=len(compassList)
    
#     what is the angle interval?
    angleInterval=(360/bins)
        
#     
    angleBins=[]    
    
#     for loop to create 
    for compass in compassList:
        
    

def aspectConverter(df_column):

In [ ]:
pd.cut(df['A'], 
       bins=[0, 2, 8, 10], 
       include_lowest=True, 
       labels=['low', 'mid', 'high'])

In [1]:

# for direction in range(len(directions)):
#     for i in ___:
#         if (sm_geo['asp_cont']>i) & (sm_geo['asp_cont']<(i+iterator)):
#             sm_geo['asp_cat']=direction
            

            
# if (sm_geo['asp_cont']>0) & (sm_geo['asp_cont']<22.5):
#     sm_geo['asp_cat']='N'
# elif (sm_geo['asp_cont']>22.5) & (sm_geo['asp_cont']<45):
#     sm_geo['asp_cat']='NE')
# elif (sm_geo['asp_cont']>45) & (sm_geo['asp_cont']<67.5):
#     sm_geo['asp_cat']='NE')
# elif (sm_geo['asp_cont']>67.5) & (sm_geo['asp_cont']<90):
#     sm_geo['asp_cat']='E')
# elif (sm_geo['asp_cont']>90) & (sm_geo['asp_cont']<112.5):
#     sm_geo['asp_cat']='E')
# elif (sm_geo['asp_cont']>112.5) & (sm_geo['asp_cont']<135):
#     sm_geo['asp_cat']='SE')
# elif (sm_geo['asp_cont']>135) & (sm_geo['asp_cont']<157.5:
#     sm_geo['asp_cat']='SE')
# elif (sm_geo['asp_cont']>157.5) & (sm_geo['asp_cont']<45):
#     sm_geo['asp_cat']='S')
# elif (sm_geo['asp_cont']>45) & (sm_geo['asp_cont']<67.5):
#     sm_geo['asp_cat']='S')

# sm_geo['asp_cat']=pd.cut(sm_geo['asp_cont'], 
#                          bins=bins, 
#                          include_lowest=True, 
#                          labels=directions)

# sm_geo

# sm_geo_test=sm_geo[(sm_geo['asp_cont']>(360-angleInterval)) & \
#                    (sm_geo['asp_cont']<(0+angleInterval))]

# bins=[22.5,45,67.5]

# sm_geo_test=pd.cut(sm_geo_test['asp_cont'], 
#                    bins=[0, 2, 8, 10], include_lowest=True)

# sm_geo_test=sm_geo[(sm_geo['asp_cont']>(337.5)) & \
#                    (sm_geo['asp_cont']<(22.5))]


# sm_geo_test

# if sm_geo[sm_geo['asp_cont']>(360-angleInterval) or \
# sm_geo['asp_cont']<(360-angleInterval)]:
#     sm_geo['asp_cat']='N'
# else:
#     pass
    
# sm_geo
# if sm_geo['asp_cont']

# sm_geo['asp_cat']=np.where(sm_geo['asp_cont'])

# convert aspect (continuous) to aspect (categorical)
# eight classes: N, NE, E, SE, S, SW, W, NW

# # how many compass points were given?
# bins=len(directions)
    
# # what is the angle interval?
# angleInterval=(360/bins)
        
# # from x to y to signify which interval of the compass
# # the specific direction is.
# # for example: 360/8 bins = 45
# # 45/2 = 22.5
# # 360-22.5=western bound for N
# # 0+22.5=eastern bound for N
# angleBins=[]    
    
# N_west=360-(angleInterval)
# N_east=0+angleInterval

# above_35 = titanic[titanic["Age"] > 35]
# class_23 = titanic[(titanic["Pclass"] == 2) | \
#                    (titanic["Pclass"] == 3)]

# directions=['N', 'N', 
#             'NE', 'NE', 
#             'E', 'E', 
#             'SE', 'SE', 
#             'S', 'S', 
#             'SW', 'SW', 
#             'W', 'W', 
#             'NW', 'NW']

# bins=[]

# for i in range(17):
#     result=(i*22.5)
#     bins.append(result)

# print(len(bins))
# bins

# [0.0,22.5, #N
#  45.0,67.5, #NE
#  90.0,112.5, #E
#  135.0,157.5, #SE
#  180.0,202.5, #S
#  225.0,247.5, #SW
#  270.0,292.5, #W
#  315.0,337.5, #NW
#  360.0]

In [2]:
# sm_geo['asp_cat']=sm_geo.apply(lambda row: \
#                                degToCompass(sm_geo['asp_cont']),
#                                axis=1)
# sm_geo

In [ ]:
# # drop N column
# sm_geo_aspCat=sm_geo_aspCat.drop(labels='N',axis=1)
# sm_geo_aspCat

In [ ]:
# store betas and raise e to each beta value
betas=[]

for i in range(len(logreg_sm_results.params)):
    beta=logreg_sm_results.params[i]
    betas.append(np.exp(beta))
    
betas

In [ ]:
quants=[0]
bins=4
results=[]

for i in range(bins):
    quants.append((i+1)/bins)

for i in quants:
    results=sm_geo['elev_cont'].quantile(i)

results

In [ ]:
quants=[0]

for i in range(bins):
    quants.append((i+1)/bins)
    
quants

In [ ]:
df_col=[0,2,3,4,5,6,10.1]

for i in quants:
    for j in df_col:
        if df_col[j]<=quants[i]:
            'cat'+'_'+str(quants[i])

In [ ]:
# function to bin the elevations

def elevBinner(df_col,bins=4):
    '''
    Takes a continuous elevation value
    and creates a category for it.
    
    Defaults to four elevation bins.
    '''
    quants=[0]
    results=[]

#     setup quantile range based on bins
    for i in range(bins):
        quants.append((i+1)/bins)

#     setup results to compare to each row value
    for i in quants:
        results.append(df_col.quantile(i))
        results[i]<=quants[i]
        return 'cat'+'_'+str(quants[i])

elevBinner(sm_geo['elev_cont'])

In [ ]:
def elevCategorizer(df_col):
    '''
    Hard-codes elevation bins into:

    low, medium, high, very high
    3-193, 306-193, 412-306, 917-412
    '''

    bins = [193, 306, 412, 917]
    labels = ['low', 'med', 'high', 'vhigh']

    for i, bin_upper in enumerate(bins):
        if df_col <= bin_upper:
            return labels[i]
    
    return 'vhigh'  # If the input value is above the highest bin

In [1]:
print(f'There are ~{round(.8*(1-val_size)*rows)} observations in the training partition.')
print(f'There are ~{round(.8*val_size*rows)} observations in the validation partition.')
print(f'There are ~{round(testing_size*rows)} observations in the testing partition.')

NameError: name 'val_size' is not defined

In [ ]:
y_remainder_array=np.ravel(a=y_remainder,order='C')
y_test_array=np.ravel(a=y_test,order='C')
y_train_array=np.ravel(a=y_train,order='C')
y_validation_array=np.ravel(a=y_validation,order='C')

In [1]:
# import geographic information .CSV

sm_geo_original=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/00_capstone_data/shapefiles/joins/sm_geo_combine.csv')
sm_geo_original

NameError: name 'pd' is not defined

In [309]:
sm_geo_original[sm_geo_original['perim_asp_1'].isna()==True]

,objectid,perim_id,perim_elevation_1,perim_asp_1,fire,geometry
14,4753.0,NaN,NaN,NaN,1,MULTIPOLYGON (((-118.305363835672 34.119507991...
15,4767.0,NaN,NaN,NaN,1,MULTIPOLYGON (((-118.843533279074 34.169495387...
24,4796.0,NaN,NaN,NaN,1,MULTIPOLYGON (((-118.60574361788 34.1457095562...
25,4849.0,NaN,NaN,NaN,1,MULTIPOLYGON (((-118.377669263434 34.122895200...
26,4850.0,NaN,NaN,NaN,1,MULTIPOLYGON (((-118.574062124596 34.079625547...
...,...,...,...,...,...,...
18743,0.0,4600.0,32.0,NaN,0,POINT (-118.3680000000007 34.04)
18786,0.0,4752.0,53.0,NaN,0,POINT (-118.4330000000006 34.035)
18810,0.0,4776.0,67.0,NaN,0,POINT (-118.3130000000007 34.035)
18863,0.0,4941.0,52.0,NaN,0,POINT (-118.3130000000007 34.03)
18864,0.0,4942.0,56.0,NaN,0,POINT (-118.3080000000007 34.03)

In [310]:
(sm_geo_original.isna().sum())/(sm_geo_original.count())*100

objectid             0.000000
perim_id             3.464116
perim_elevation_1    3.464116
perim_asp_1          3.615306
fire                 0.000000
geometry             0.000000
dtype: float64

I have enough data that $3.5{\%}$ (roughly $650$ rows) is not a large portion of the dataset. I will remove these `NaN` rows:

In [311]:
sm_geo_original=sm_geo_original.dropna()
sm_geo_original.isna().sum()

objectid             0
perim_id             0
perim_elevation_1    0
perim_asp_1          0
fire                 0
geometry             0
dtype: int64

In [317]:
# rename columns

sm_geo['elev_cont']=sm_geo['elevation']
sm_geo=sm_geo.rename({'elevation':'elev_cat'},axis=1)

sm_geo=sm_geo[['objectid','perim_id','geometry','asp_cont','asp_cat','elev_cont','elev_cat','fire']]
sm_geo.head(1)

,objectid,perim_id,geometry,asp_cont,asp_cat,elev_cont,elev_cat,fire
0,4751.0,1644.0,MULTIPOLYGON (((-118.297645979672 34.135057069...,31.883564,NNE,434.0,434.0,1

In [ ]:
quartiles=pd.qcut(sm_geo['elev_cont'],q=4,labels=False)
quartiles

In [ ]:
def elevCategorizer(df,column,quants=4,labels=False):
    '''
    Converts elevation bins into quartiles,
    which is the default. Requires 
    pandas as pd to be imported, as it uses the 
    pd.qcut() function.
    
     low ,medium,  high  , very high
     <25%,25-50%, 50-75% ,    <75%
     
     Takes a dataframe[column] as required input.
    '''

#     setup quantiles
    quantiles=pd.qcut(df[column],q=quants,labels=labels)
    
#     add quantile information to the original dataset
    df[column]=quantiles
    
#     create output object
    df_output=df[column]
    
    return df_output
    

# if df_col <= 193:
#     return 'low'
# elif df_col <= 306:
#     return 'med'
# elif df_col <= 412:
#     return 'high'
# else:
#     return 'vhigh'

elevCategorizer(450)

In [ ]:
# reset axis
sm_geo=sm_geo.reset_index()

sm_geo=sm_geo.drop(labels=['index'],axis=1)

sm_geo

In [ ]:
# define X and y

droppedCols=['objectid','perim_id','geometry','fire']

cols=[col for col in sm_geo.columns if col not in droppedCols]

X=sm_geo[cols]
y=sm_geo[['fire']]

X



Areas in the mountains show more of a relationship, though this relationship is very small. This makes sense as areas in the mountains have steeper topography. In the city, where there is less elevation change, the aspect is more random or nonexistant.

In [ ]:
# make the results from the statsmodels logistic regresion
# into a dataframe to compare betas.
# make sure to raise e to the beta to convert to odds

results=logreg_sm_results.params
col_names=list(X_withconstant.columns)
col_vals=[]

for i in range(len(results)):
    col_vals.append(results[i])
    
results_=list(zip(col_names,col_vals))
results_df=pd.DataFrame(results_,columns=['beta_name','beta_logOdds'])

results_df['beta_odds']=results_df['beta_logOdds'].apply(np.exp)
results_df=results_df.sort_values('beta_odds',ascending=False)
results_df=results_df.reset_index()
results_df=results_df.drop(labels=['index'],axis=1)

results_df

In [ ]:
Low elevations (less than or equal to 193 m above sea level) almost 2x more likely to experience fires.

As for aspect, WSW-facing areas are almost 2x more likely to have a fire than other areas. Overall, areas facing west and south are more likely to experience a fire than places facing east or north.

In [ ]:
# # flatten y sets to make them 1D arrays

# y_remainder_flat=y_remainder.values.flatten()
# y_test_flat=y_test.values.flatten()
# y_train_flat=y_train.values.flatten()
# y_validation_flat=y_validation.values.flatten()

# y_train_array.shape

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

estimators = [('normalise', StandardScaler()),
              ('reduce_dim', PCA()),
              # ('svm', svm.SVC()),
              ('model',LogisticRegression())
             ]

pipe = Pipeline(estimators)

params = {#'svm__kernel': ['linear','rbf'], 
          'normalise': [StandardScaler(),MinMaxScaler()],
          'reduce_dim__n_components': [1, 2, 3, 4, 5],
          'model': [LogisticRegression(penalty='l2',max_iter=10000),
                    LogisticRegression(penalty='l1',solver='liblinear',max_iter=10000)],
          # 'model__penalty': ['elasticnet',None],
          'model__C': [np.logspace(-2,-4,5)]
         }

grid_search = GridSearchCV(estimator=pipe, 
                           param_grid=params, 
                           cv=5,
                           verbose=1,
                           n_jobs=7,
                           scoring="f1_weighted")

fittedgrid = grid_search.fit(X_train,y_train)

In [ ]:

# https://stackoverflow.com/questions/52952310/plot-decision-regions-with-error-filler-values-must-be-provided-when-x-has-more
clf = SVC(C=100,gamma=0.0001)
pca = PCA(n_components = 2)
X_train2 = pca.fit_transform(X_train)
clf.fit(X_train2, y_train)
plot_decision_regions(X_train2, y_train, clf=clf, legend=2)

plt.xlabel(X.columns[0], size=14)
plt.ylabel(X.columns[1], size=14)
plt.title('SVM Decision Region Boundary', size=16)

In [139]:
# import geographic information .CSV

df_original=pd.read_csv('/Users/sra/Desktop/Data_Science_2023/_capstone/00_capstone_data/shapefiles/joins/layer_combine.csv')
df_original

       elevation      aspect  fire
0           52.0   14.743560     1
1           45.0   21.037510     1
2           45.0  333.434967     1
3           51.0  283.392487     1
4           63.0  229.289154     1
...          ...         ...   ...
19831       22.0  270.000000     0
19832       18.0   59.036243     0
19833       20.0  264.805573     0
19834       17.0   63.434952     0
19835       17.0  320.710602     0

[19836 rows x 3 columns]

In [1]:
#### Grid Search, second round

In [ ]:
# Using a `GridSearchCV` on a smaller hyperparameter space to see if we can increase the accuracy even more. I will add a random forest and naive bayes to the grid search to incorporate those models. This is because random forests usually perform quite well. Naive bayes may result in a higher accuracy. We will also attempt some boosting models.

In [ ]:
##### First, run basic versions of the models

In [2]:
##### Running the grid search, second attempt

# grid searches

Let's try one more run. We are already getting diminishing returns, but I'm curious how much higher the accuracy can increase.

In [ ]:
gbc = GradientBoostingClassifier()

parameters = {
    'loss': ['exponential'],
    'learning_rate': (np.logspace(-.5,-.3,20)),
    'n_estimators': (np.arange(88,96))
}
grid_search_gbc = GridSearchCV(gbc, parameters, cv = 5, n_jobs = 7, verbose = 3)
grid_search_gbc.fit(X_train_scale, y_train)

# best score
print(f"best score: {grid_search_gbc.best_score_}")

# best parameters 
print(f"best parameters: {grid_search_gbc.best_params_}")

best score: `0.9114975657853945`  
best parameters: `{'learning_rate': 0.4891856223541835, 'loss': 'exponential', 'n_estimators': 93}`

Running the optimized hyperparameters on the scaled data:

In [ ]:
gbc=GradientBoostingClassifier(learning_rate=0.4891856223541835,
                               loss='exponential',
                               n_estimators=93)
gbc.fit(X=X_train_scale,y=y_train)

gbc.score(X=X_test_scale,y=y_test)

$91\%$ is a good score, it's in the A-range!

Stacking using `StackingClassifier`

In [ ]:
# # reset axis
# sm_geo=sm_geo.reset_index()

# sm_geo=sm_geo.drop(labels=['index','elev_cat','asp_cat'],axis=1)